@import "tailwindcss";

@theme {
  --color-slate-950: #020617;
}

:root {
  background-color: #020617;
  color: #f8fafc;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
